---
import type { GetStaticPathsOptions } from "astro";

import { orderBy } from "lodash-es";

import { getCollection } from "astro:content";

import { SITE } from "#config";
import ArticleListing from "#components/ArticleListing.astro";
import Pagination from "#components/Pagination.astro";
import Layout from "#layouts/Shell.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const articles = orderBy(await getCollection("articles"), 'data.published', 'desc')

  return paginate(articles, { pageSize: 10 });
}

const { page } = Astro.props;
---

<Layout title={`Articles | ${SITE.title}`}>
  <div class="container rhythmic">
    <h1>Articles</h1>

    <div class="vstack" style="gap: var(--space-l);">
      <ArticleListing articles={page.data} />
      <Pagination page={page} />
    </div>
</Layout>
