---
import { getCollection } from "astro:content";
import { uniq } from "lodash-es";

import { SITE } from "#config";
import Tags from "#components/Tags.astro";
import Layout from "#layouts/Shell.astro";

const articles = await getCollection("articles");
const tags = uniq(articles.flatMap(article => article.data.tags));
---

<Layout title={`Tags | ${SITE.title}`}>
  <div class="container rhythmic">
    <h1>Tags</h1>

    <Tags tags={tags} />
</Layout>